<div class = "container-fluid px-1">
    <div id="carouselExampleCaptions" class="carousel slide">
        <!-- <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div> -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static\Images\CR_03.jpg" height= "689" class="d-block w-100" alt="Home_1">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
        </div>
    </div>
</div> 
      
<div class="row">
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
      <h2 class="fw-normal">Heading</h2>
      <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
      <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
      <h2 class="fw-normal">Heading</h2>
      <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
      <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
      <h2 class="fw-normal">Heading</h2>
      <p>And lastly this, the third column of representative placeholder content.</p>
      <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->



































  {% extends 'base.html' %}

{% block title %}Index{% endblock title %}

{% block body %}
<div class = "container-fluid px-1">
    <div id="carouselExampleCaptions" class="carousel slide">
        <!-- <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div> -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static\Images\CR_03.jpg" height= "689" class="d-block w-100" alt="Home_1">
            <div class="carousel-caption d-none d-md-block">
              <!-- <a class="btn btn-secondary" align="center" href="login" role="button">Log In</a>
              &nbsp&nbsp
              <a class="btn btn-secondary" align="center" href="signup" role="button">Sign Up</a> -->
              <br>
              <br>
              <!-- <h5>Diverse Question Types</h5>
              <p>Generate.AI question generator can produce various question types, such as multiple-choice, true/false, short answer, or open-ended questions. This allows for versatility in assessment or learning applications.</p> -->
            </div>
          </div>
          <!-- <div class="carousel-item">
            <img src="static\Images\CR_02.jpg" height= "689" class="d-block w-100" alt="Home_2">
            <div class="carousel-caption d-none d-md-block">
              <a class="btn btn-secondary" align="center" href="login" role="button">Log In</a>
              &nbsp&nbsp
              <a class="btn btn-secondary" align="center" href="signup" role="button">Sign Up</a>
              <br>
              <br>
              <h5>Customizability</h5>
              <p>These systems often provide options for customizing the generated questions. Users can specify the difficulty level, question type (e.g., multiple-choice, fill in the blanks), or even provide specific context or constraints for the questions.</p>
            </div> 
          </div>
          <div class="carousel-item">
            <img src="static\Images\CR_03.jpg" height= "689" class="d-block w-100" alt="Home_3">
            <div class="carousel-caption d-none d-md-block">
              <a class="btn btn-secondary" align="center" href="login" role="button">Log In</a>
              &nbsp&nbsp
              <a class="btn btn-secondary" align="center" href="signup" role="button">Sign Up</a>
              <br>
              <br>
              <h5>Wide Range of Topics</h5>
              <p>AI question generators can generate questions on a wide range of topics, including but not limited to science, history, literature, technology, and more. They can adapt to different domains and knowledge areas.</p>
            </div>
          </div>
        </div> -->
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> -->
      </div>
</div>



{% endblock body %}




























<!-- HOME -->
{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class = "container-fluid px-1">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static\Images\CR_01.jpg" height= "689" class="d-block w-100" alt="Home_1">
            <div class="carousel-caption d-none d-md-block">
              <a class="btn btn-secondary" align="center" href="login" role="button">Log In</a>
              &nbsp&nbsp
              <a class="btn btn-secondary" align="center" href="signup" role="button">Sign Up</a>
              <br>
              <br>
              <h5>Diverse Question Types</h5>
              <p>Generate.AI question generator can produce various question types, such as multiple-choice, true/false, short answer, or open-ended questions. This allows for versatility in assessment or learning applications.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="static\Images\CR_02.jpg" height= "689" class="d-block w-100" alt="Home_2">
            <div class="carousel-caption d-none d-md-block">
              <a class="btn btn-secondary" align="center" href="login" role="button">Log In</a>
              &nbsp&nbsp
              <a class="btn btn-secondary" align="center" href="signup" role="button">Sign Up</a>
              <br>
              <br>
              <h5>Customizability</h5>
              <p>These systems often provide options for customizing the generated questions. Users can specify the difficulty level, question type (e.g., multiple-choice, fill in the blanks), or even provide specific context or constraints for the questions.</p>
            </div> 
          </div>
          <div class="carousel-item">
            <img src="static\Images\CR_03.jpg" height= "689" class="d-block w-100" alt="Home_3">
            <div class="carousel-caption d-none d-md-block">
              <a class="btn btn-secondary" align="center" href="login" role="button">Log In</a>
              &nbsp&nbsp
              <a class="btn btn-secondary" align="center" href="signup" role="button">Sign Up</a>
              <br>
              <br>
              <h5>Wide Range of Topics</h5>
              <p>AI question generators can generate questions on a wide range of topics, including but not limited to science, history, literature, technology, and more. They can adapt to different domains and knowledge areas.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
{% endblock body %}




















<!-- 
QUERIES -->
{% extends 'base.html' %}


{% block title %}Queries{% endblock title %}

{% block body %}
<div class ="conatiner w-100 h-100">
  <img src="static\Images\queries.avif" class="d-block vw-100 vh-100 position-absolute" alt="contact"> 
  <div class="d-flex align-items-center justify-content-start position-relative mx-0 h-100 px-5 py-5" style="opacity:0.7;">
     <form style="background-image:url(static/Images/bg_contact.png);width:35%;height:80%;" class="fluid-container px-5 py-5 fs-5 position-relative" method="post" action="/queries">
      {% csrf_token %}
      {{form.as_p}}
      {% load widget_tweaks %}
      {% comment %} <div class = "form-group">
        {% render_field form.user_name class="form-control" placeholder="Username" type="text" %}
      </div>
      <div class = "form-group">
        {% render_field form.email type="text" class="form-control" placeholder="Email" %}
      </div>
      <div class = "form-group">
        {% render_field form.query class="form-control" placeholder="query" type="text" %}
      </div> {% endcomment %}
         {% comment %} Username: &nbsp <input type="text" name="Username" class="form-control" placeholder="Enter a username">

         Email id: &nbsp&nbsp <input type="text" name="email" class="form-control" placeholder="Enter you email ID">

         Queries: &nbsp&nbsp <textarea type="text" name="querY" class="form-control" placeholder="Enter your query"></textarea>  {% endcomment %}
         
         <div class="d-flex align-items-center justify-content-center">
           <button type="submit" class="btn btn-outline-secondary px-5 opacity-100 mx-3 my-3" value="Submit" colour = "#1a242d"> Submit </button>
         </div>
     </form>
   </figure>
  </div> 
 </body>
</div>
{% endblock  %}

